 .rating_container{
    margin-top: 20px;
}
.stars{
    display: flex;
    align-items: center;
}
.star{
    width: auto;
    height: auto;
}
@media all and (max-width:767px){
    .rating_container{
        margin-top: 0;
    }
    .star{
        width: 15px;
        height: 15px;
    }
}

