.container_header{
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}
.logo_container{
    width: 210px;
    height: 68px;
}
.logo_img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.item_nav{
    text-decoration: none;
    margin-left: 40px;
    font-size: 24px;
    
    color:var(--primary);
    font-style: normal;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.active{
   border-bottom: 2px solid var(--primary);
}
@media all and (max-width:767px){
    .container_header{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .logo_container{
        width: 145px;
        height: 47px;
    }
    .item_nav{
        font-size: 12px;
        margin-left: 10px;
        line-height: 17px;
    }
}
@media all and (max-width:370px){
    .logo_container{
        width: 101px;
        height: 33px;
    }

}
    






