.banner, 
.banner_about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1260px;
    height: 223px;
    position: relative;
}
.bannerImg, .bannerImg_about{
    object-fit: cover;
    width: 100%;
    height:223px;
    border-radius: 25px;
}

.h1_home{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 68px;
    color: var(--h1_home);
    padding: 0 20px 0 20px;
}
@media all and (max-width:767px){
    .banner{
        height: 111px;
    }
    .banner_about{
        height: 223px;
        border-radius: 10px;
    }
    .bannerImg{
        height: 111px;
        border-radius: 10px;
    }
    .bannerImg_about{
        height: 223px;
        border-radius: 10px;
    }
    .h1_home{
        font-size: 24px;
        padding-right: 102px;
        padding-left: 16px;
        text-align: left;
        line-height: 24px;
    }   
}
@media all and (max-width:370px){
    .h1_home{
        font-size: 18px;
        padding-right: 50px;
    }
    

}
        